body{
    font-family: monospace;
    margin-top: 150px;
    background-color: green;
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.addpt{
    background-color: white;
    border: none;
    box-shadow: rgb(167, 167, 167) 1.5px 1.5px 1px 1.5px;
    border-radius: 10px;
    margin: 5px;
    padding: auto;
    cursor: pointer;
}

input{
    margin: 10px;
    border: none;
    box-shadow: rgb(167, 167, 167) 1.5px 1.5px 1px 1.5px;
    border-radius: 10px;
    padding: 10px;
    font-family: monospace;
    text-align: center;
}

.equipe1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 28);
    border: 1px solid rgb(25, 25, 28);
    box-shadow: black 4px 4px 1px 1px;
    width: 75%;
    margin-bottom: 30px;
    margin-left: 140px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: monospace;
}

.vitorinhas{
    margin-left: auto;
    font-weight: bold;
    font-size: 1rem;
}

.pontassos{
    margin-left: auto;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: rgb(167, 167, 167) 1.5px 1.5px 1px 1.5px;
    padding: 10px;
}


.equipe2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 68, 68);
    border: 1px solid rgb(255, 68, 68);
    box-shadow: red 4px 4px 1px 1px;
    width: 75%; 
    margin-left: 140px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-family: monospace;
}

.zerar{
    border: 1px solid white;
    background-color: white;
    font-family: monospace;
    box-shadow: rgb(132, 132, 132) 1.5px 1.5px 1px 1.5px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin-left: 590px;
    margin-top: 30px;
}

.nome1{
    font-weight: bold;
}

.nome2{
    font-weight: bold;
}



